.image-dialog{
    width: 50px;
    border-radius: 50%;
    border: solid 1px #673ab7;
}
.fake-primary{
  background-color: #673ab7;
  color: white;
}
/* DATA TABLE */

  .float-button-dialog{
    float: right;
    top: -31px;
    right: 26px;
  }
  